#hero {
    background-image: linear-gradient(to bottom, #FFB347, #FFCC33);
    height: 600px;
    display: flex;
  }
  
  .hero-article {
    padding-top: 80px;
    max-width: 1080px;
    margin: 0 auto;
  }
  
  .hero-article h1 {
    font-size: 3.875rem;
    color: white;
  }
  
  .background-opacity {
    background-color: rgba(255, 255, 255, 0.4);
    height: 223px;
    width: 396px;
  }
  
  .background-opacity p{
    text-align: left;
    opacity: 1;
    color: white;
  }
  
  #hero img {
    width: 674px;
    height: 450px;
    border-radius: 50px; 
    margin-top: 80px;
  }
  